@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --branco-principal:#ffff;
    --cinza-secundario:#c0c0c0;
    --botao-azul: #167bf7;
    --backgroung-color: #00030c;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #6cd37a;

}
body{
    background-color: var(--backgroung-color);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    

}
*{
    margin: 0;
    padding: 0%;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}


.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);


}

.container__aviso{
    color: var(--cinza-secundario);
    font-size: 12px;

}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0em 2em 0em;
}

.container__caixa{
    margin: 0 6em;
}


.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-family: var(--fonte-principal);
    font-size: 48px;
    margin-bottom: 0.1em;

}
.descricao__texto{
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
}
.lista_item{
    text-align: center;
    font-size: 32px;
    color: var(--branco-principal);
    
}
.dispositivos{
    text-align: center;

    
}
.dispositivos__titulo{
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1em;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 3em;
}
.rodape__lista{
    display: flex;
    gap: 16px;
    justify-content: center;
    list-style-type: none;
    color: var(--branco-principal);
    font-size: 16px;
    text-decoration: none;

}
.rodape__logo{
   margin-bottom: 37px;
}

.lista__link A{
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 16px;

}
.rodape__texto{
    color: var(--cinza-secundario);
    margin-top: 1em;
    font-size: 14px;
    font-weight: 400;
    
}
.lista__link a:hover {
    color: var(--botao-azul-efeito);
}
.container__botao:hover{
    color: var(--botao-azul-efeito);
}
.lista__link a:active{
    color: darkorchid;
}
@media screen and (max-width: 768px) {
    .container{
        display: block;
        background-image: none;

    }
    .container__imagem{
        width: 50vw;
    }
    .container__caixa{
        margin: 2em 2em;
    }
    .secundario{
        text-align: center;
        margin: 0;
    }
    .secundario__imagem{
        width: 50vw;
    }
    .dispositivos__lista{
        display: block;
    }
    .rodape__lista{
        display: block;
    }

    
}
    
